body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: grey;
}

.menu {

  background: cornflowerblue;
}

.menu > *  {
  padding: 5px;
}

.table {
  display: table;
  border: 1px solid #999999;
}
.tableRow {
  display: table-row;
  border: 1px solid #999999;
}

.tableCell {
  display: table-cell;
  border: 1px solid #999999;
  width: 8em;
}

.asc, .desc {
  position: relative;
  padding-right: 20px !important;
  cursor: pointer;
  user-select: none;
}

.asc:after, .desc:after {
  position: absolute;
  content: '';
  right: 5px;
  top: 50%;
  border-style: solid;
}
.asc:after {
  margin-top: 1px;
  border-width: 5px 5px 0 5px;
  border-color: #eee transparent transparent transparent;
}

.desc:after {
  margin-top: -2px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #eee transparent;
}