body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu {

  background: cornflowerblue;
}

.menu > *  {
  padding: 5px;
}

.table {
  display: table;
  border: 1px solid #999999;
}
.tableRow {
  display: table-row;
  border: 1px solid #999999;
}

.tableCell {
  display: table-cell;
  border: 1px solid #999999;
  width: 8em;
}
